<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Test">

<test name="SingleUserLoginTest">
    <classes>
        <class name="tests.logintests.LoginTestWeb"/>
    </classes>
</test>

<!--<test name="MultiUserLoginTest" parallel="methods" thread-count="4">-->
<!--    <classes>-->
<!--        <class name="tests.logintests.MultiUserLoginTest"/>-->
<!--    </classes>-->
<!--</test>-->

</suite>